//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: rgb(242, 112, 19); // Orange color
$secondary: #8ecae6; // Sky blue color
$success: #28a745; // Green color
$info: #17a2b8; // Blue color
$warning: #ffbf00; // Yellow color
$danger: #dc3545; // Red color
